name: CD - Publicar Javadoc

on:
  workflow_dispatch:

jobs:
  javadoc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'

      - name: Generar Javadoc
        run: mvn -B javadoc:javadoc

      - name: Publicar Javadoc en GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/site/apidocs
